.body h3{
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0px;
}
.body h1{
    font-size: 34px;
    font-weight: 700;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 20px;
}
.body h2{
    font-size: 25px;
    font-weight: 600;
    line-height: normal;
    margin-top: 20px;
    margin-bottom: 0px;
}
.body a{
    color: rgb(0, 106, 255);
    font-weight: 800;padding: 0 20px;   transition: .2s color;
}
.body a:hover{text-decoration: underline;
    color: rgb(72, 0, 255);
}