.body h3{
    font-size: 26px;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}
.body h2{
    font-size: 30px;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 20px;
}
.body a{
    color: rgb(0, 106, 255);
    font-weight: 800;padding: 0 20px;   transition: .2s color;
}
.body a:hover{text-decoration: underline;
    color: rgb(72, 0, 255);
}